pipeline/Customer_PL.json
{
	"name": "Customer_PL",
	"properties": {
		"activities": [
			{
				"name": "GetCustJsonFiles",
				"description": "Get Customer Json Files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "CustomerJson",
						"type": "DatasetReference",
						"parameters": {
							"FILE_NAME": "customer_2021-01-01.json",
							"CONTAINER": "landingarea"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "Load JSON Files",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetCustJsonFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetCustJsonFiles').output.childItems",
						"type": "Expression"
					},
					"isSequential": true
				}
			}
		],
		"annotations": []
	}
}