HamidADF01/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "HamidADF01"
		},
		"LS_AzureDataLakeStorage_hamidsag2test1_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_AzureDataLakeStorage_hamidsag2test1'"
		},
		"LS_AzureDataLakeStorage_hamidsag2test1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://hamidsag2test1.dfs.core.windows.net/"
		},
		"LS_HamidKeyVault02_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://HamidKeyVault02.vault.azure.net/"
		},
		"LS_AzureBlobStorage_hamidstorageaccount01_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "secret-hamidstorageaccount01"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/LS_AzureDataLakeStorage_hamidsag2test1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "LS AzureDataLakeStorage hamidsag2test1",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_AzureDataLakeStorage_hamidsag2test1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_AzureDataLakeStorage_hamidsag2test1_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_HamidKeyVault02')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "HamidKeyVault02",
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('LS_HamidKeyVault02_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Customer_Parquet_data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AzureDataLakeStorage_hamidsag2test1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"CONTAINER": {
						"type": "string",
						"defaultValue": "rawdatastroe"
					},
					"FILE_PATH": {
						"type": "string",
						"defaultValue": "2021/01"
					},
					"FILE_NAME": {
						"type": "string",
						"defaultValue": "customers_2021_01_01.parquet"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().FILE_NAME",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().FILE_PATH",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().CONTAINER",
							"type": "Expression"
						}
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureDataLakeStorage_hamidsag2test1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_AzureBlobStorage_hamidstorageaccount01')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "AzureBlobStorage  hamidstorageaccount01",
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS_HamidKeyVault02",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('LS_AzureBlobStorage_hamidstorageaccount01_properties_typeProperties_connectionString_secretName')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_HamidKeyVault02')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CustomerJson')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Customer Json file",
				"linkedServiceName": {
					"referenceName": "LS_AzureBlobStorage_hamidstorageaccount01",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FILE_NAME": {
						"type": "string",
						"defaultValue": "customer_2021-01-01.json"
					},
					"CONTAINER": {
						"type": "string",
						"defaultValue": "landingarea"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": {
							"value": "@dataset().CONTAINER",
							"type": "Expression"
						}
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureBlobStorage_hamidstorageaccount01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Customer_PL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetCustJsonFiles",
						"description": "Get Customer Json Files",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "CustomerJson",
								"type": "DatasetReference",
								"parameters": {
									"FILE_NAME": "customer_2021-01-01.json",
									"CONTAINER": "landingarea"
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "JsonReadSettings"
							}
						}
					},
					{
						"name": "Load JSON Files",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetCustJsonFiles",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetCustJsonFiles').output.childItems",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy Files",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"wildcardFileName": {
													"value": "@item().name",
													"type": "Expression"
												},
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "$['customer_id']"
													},
													"sink": {
														"name": "customer_id"
													}
												},
												{
													"source": {
														"path": "$['relationship_manager_id']"
													},
													"sink": {
														"name": "relationship_manager_id"
													}
												},
												{
													"source": {
														"path": "$['last_updated']"
													},
													"sink": {
														"name": "last_updated"
													}
												},
												{
													"source": {
														"path": "$['deposit_amount']"
													},
													"sink": {
														"name": "deposit_amount"
													}
												}
											]
										}
									},
									"inputs": [
										{
											"referenceName": "CustomerJson",
											"type": "DatasetReference",
											"parameters": {
												"FILE_NAME": "customer_2021-01-01.json",
												"CONTAINER": "landingarea"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "Customer_Parquet_data",
											"type": "DatasetReference",
											"parameters": {
												"CONTAINER": "rawdatastroe",
												"FILE_PATH": {
													"value": "@concat(split(item().name,'_')[0],'/',split(split(item().name,'_')[1],'-')[0],'/',split(split(item().name,'_')[1],'-')[1])",
													"type": "Expression"
												},
												"FILE_NAME": {
													"value": "@concat(split(item().name,'.')[0],'.parquet')",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/CustomerJson')]",
				"[concat(variables('factoryId'), '/datasets/Customer_Parquet_data')]"
			]
		}
	]
}